body {
    background: #f5f5f5;
    display:flex;
    justify-content:center;
    align-items:center;
    height: 100vh;
}

.container {
    background: white;
    padding: 20px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}